.catalog-layout {
  margin: 0 auto;

  @media (max-width: 1440px) {
    max-width: 900px;
    padding: 0 20px;
  }

  @media (max-width: 1024px) {
    max-width: 700px;

    flex-direction: column-reverse;
    align-items: center;
  }

  &_container {
    max-width: 1240px;
    display: flex;
    margin: 0 auto 123px auto;
    justify-content: center;
    gap: 40px;
    padding: 0 20px;

    @media (max-width: 1440px) {
      max-width: 900px;
      padding: 0 20px;
    }

    @media (max-width: 1024px) {
      max-width: 700px;

      flex-direction: column-reverse;
      align-items: center;
    }




  }

  &_main {
    max-width: 900px;
    margin: 0 auto;
    flex: 3;
  }

  &_sidebar {
    max-width: 340px;
    flex: 1;
  }
}